.logo {
  font-weight: 900;
}

.header {
  display: flex;
  justify-content: space-between; /* Main Axis */
  align-items: center; /* Cross Axis */
}

.nav {
  display: flex;
}

.navItem {
  display: flex;
  margin-right: 1rem;
  font-weight: 700;
  font-size: 1.125rem;
}

.navItem a {
  text-decoration: none;
  color: var(--main-type-color);
}

.lastItem {
  margin-right: 0rem !important;
}
