@import "styles/normalize.css";
@import "styles/typography.css";

:root {
  --main-bg-color: #16181d;
  --main-type-color: #a8aebd;
  --hyperlink-color: ;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-type-color);
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #64cbec;
}
